
body {
  font-family: "Poppins", sans-serif;
  background: #f8fafc;
  margin: 0;
  color: #222;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 15px 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.logo {
  font-size: 22px;
  font-weight: 600;
  color: #0077ff;
  text-decoration: none;
}

.btn {
  background: #0077ff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #005fcc;
}

.profile-header {
  text-align: center;
  margin-top: 40px;
  background: #fff;
  border-radius: 16px;
  padding: 40px 20px;
  width: 90%;
  max-width: 600px;
  margin-inline: auto;
  box-shadow: 0 5px 16px rgba(0,0,0,0.08);
}

.profile-pic {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #0077ff;
}

.profile-header h2 {
  margin-top: 15px;
  font-size: 24px;
  color: #111;
}

.profile-header p {
  color: #666;
  font-size: 14px;
}



.edit-btn, .remove-btn, .back-btn {
  display: inline-block;
  text-decoration: none;
  background: #007bff;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  margin-top: 15px;
  transition: 0.3s;
}

.edit-btn:hover, .remove-btn:hover, .back-btn:hover {
  background: #005fcc;
}

.remove-btn {
  background: #ff4444;
}

.remove-btn:hover {
  background: #d32f2f;
}


.posts-section {
  padding: 40px 20px 60px;
  text-align: center;
  /* display: grid ;
  grid-template-columns: auto auto; */
}

.posts-section h3 {
  font-size: 22px;
  margin-bottom: 30px;
  color: #0077ff;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  max-width: 500px;
  margin: 0 auto;
}

.post-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.07);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.post-card:hover {
  transform: translateY(-6px);
}

.post-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.post-content {
  padding: 15px;
  text-align: left;
}

.post-content h4 {
  margin: 0 0 6px;
  color: #111;
}

.post-content p {
  font-size: 14px;
  color: #555;
}

.no-posts {
  color: #777;
  font-size: 16px;
  grid-column: 1/-1;
}






@media (max-width: 768px) {
  .navbar {
    padding: 15px 20px;
  }

  .profile-header {
    padding: 30px 15px;
  }

  .profile-pic {
    width: 90px;
    height: 90px;
  }

  .profile-header h2 {
    font-size: 20px;
  }

  .posts-section h3 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .posts-grid {
    gap: 15px;
  }

  .post-image {
    height: 180px;
  }

  .post-content h4 {
    font-size: 15px;
  }

  .post-content p {
    font-size: 13px;
  }
}


